NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-or-anon-key
DATABASE_URL="postgres://[db-user]:[db-password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgres://[db-user]:[db-password]@aws-0-[region].pooler.supabase.com:5432/postgres"
